<h1>Users</h1>

<table class="table table-hover table-bordered">
  <tr>
    <th>username</th>
    <th></th>
    <th></th>

  </tr>

<% @users.each do |user| %>
  <tr>
    <td width="80%"><%= user.username %></td>

    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


